/* ######################################## Project Defaults ######################################## */

* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

/* ######################################## Imports ######################################## */

@import url('https://fonts.googleapis.com/css?family=Changa+One');
@import url('https://fonts.googleapis.com/css?family=Montserrat');
@import url('https://fonts.googleapis.com/css?family=Lato:400,700');

/* ######################################## Variables ######################################## */
:root {
  /* Flat colors */
  --red: #f74d4d;
  --info: #3498db;
  --danger: #b73030;
  --success: #2ecc71;
  --white: #f5f5f5;
  --dark: #1e2328;

  /* Depth Colors */
  --dark-green: #214d4d;
  --dark-blue: #0F336F;

  /* Theme Fonts */
  --montserrat: 'Montserrat', Helvetica, sans-serif, Georgia;
  --lato: 'Lato', Helvetica, sans-serif, Georgia;
  --changa-one: 'Changa One', Helvetica, sans-serif, Georgia;
}

/* ######################################## Flexbox ######################################## */

.flex {
  display: flex;
}

.justifyCenter {
  justify-content: center;
}

.alignCenter {
  align-items: center;
}

.justifyBoth {
  align-items: center;
  justify-content: center;
}

.flexRow {
  flex-direction: row;
}

.flexColumn {
  flex-direction: column;
}

.defaultFlex {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}

/* ######################################## Background Choices ######################################## */

.bgRed {
  background-color: var(--red);
  color: var(--white);
}

.bgBlue {
  background-color: var(--info);
  color: var(--white);
}

.bgGreen {
  background-color: var(--success);
  color: var(--white);
}

.bgDarkGreen {
  background-color: var(--dark-green);
  color: var(--white);
}

.bgDarkBlue {
  background-color: var(--dark-blue);
  color: var(--white);
}

.bgDanger {
  background-color: var(--danger);
  color: var(--white);
}

.bgWhite {
  background-color: var(--white);
  color: var(--dark);
}

/* ######################################## Menu Link animation ######################################## */

.animMenuBottom {
  position: relative;
  overflow: hidden;
}

.animMenuBottom::before,
.animMenuBottom::after {
  content: "";
  height: 3px;
  width: 0;
  background-color: var(--white);
  will-change: width;
  transition: width .05s ease-out;
  position: absolute;
  bottom: 0;
}

.animMenuBottom::before {
  left: 50%;
  transform: translateX(-50%);
}

.animMenuBottom::after {
  right: 50%;
  transform: translateX(50%);
}

.animMenuBottom:hover::before,
.animMenuBottom:hover::after {
  width: 100%;
  transition-duration: .15s;
}

/* ######################################## Grid Settings ######################################## */

.defaultGrid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
}

.centeredGrid {
  width: 100%;
  display: grid;
  grid-template-columns: .5fr repeat(2, 1fr) .5fr;
  grid-gap: 10px;
  grid-template-areas:
        ". first second .";
  height: 100%;
}

.centeredGrid > *:first-child {
  grid-area: first;
  align-self: center;
  justify-self: center;
}

.centeredGrid > *:last-child {
  grid-area: second;
  align-self: center;
  justify-self: center;
}

/* ######################################## Navbar settings ######################################## */

.navbar {
  width: 100%;
  position: relative;
  padding: 0;
  margin: 0;
}

.navbar ul {
  list-style: none;
  display: flex;
  margin: 0;
}

.navbar--red ul {
  background-color: var(--red);
}

.navbar--green ul {
  background-color: var(--success);
}

.navbar--blue ul {
  background-color: var(--info);
}

.navbar--dark ul {
  background-color: var(--dark);
}

.navbar--danger ul {
  background-color: var(--danger);
}

.navbar--darkGreen ul {
  background-color: var(--dark-green);
}

.navbar--darkBlue ul {
  background-color: var(--dark-blue);
}

.navbar ul li {
  margin: 0 6px 0 6px;
}

.navbar ul li a {
  padding: 16px;
  color: var(--white);
  font-family: var(--lato);
  text-transform: uppercase;
  display: inline-block;
  text-decoration: none;
  text-shadow: 0 0 2.5px rgba(0, 0, 0, 0.2);
}

/* ######################################## Unique Headers ######################################## */

.uniqueHeader {
  font-family: var(--lato);
  font-size: 5em;
  text-align: center;
  font-weight: 400;
  margin-bottom: 0;
  color: var(--dark);
}

.uniqueHeader--blue {
  color: var(--info);
}

.uniqueHeader--green {
  color: var(--success);
}

.uniqueHeader--red {
  color: var(--red);
}

.uniqueHeader--white {
  color: var(--white);
  font-weight: 700;
}

@media screen and (max-width: 768px) {
  .uniqueHeader {
    font-size: 4em;
    font-weight: 400;
  }
}

/* ######################################## Headers and Subtitles ######################################## */
/* Header */
.header {
  font-size: 2em;
  font-weight: 700;
  display: block;
  color: var(--dark);
  padding: 0 0 0 8px;
  margin: 4px;
}

.header--ms {
  font-family: var(--montserrat);
}

.header--lt {
  font-family: var(--lato);
}

.header--co {
  font-family: var(--changa-one);
}

.header--blue {
  color: var(--info);
}

.header--green {
  color: var(--success);
}

.header--red {
  color: var(--red);
}

.header--darkGreen {
  color: var(--dark-green);
}

.header--darkBlue {
  color: var(--dark-blue);
}

.header--danger {
  color: var(--danger);
}

@media screen and (max-width: 768px) {
  .header {
    /* font-size: 1.5em; */
  }
}

/* Subtitle */
.subtitle {
  font-size: 2em;
  font-weight: 400;
  text-align: center;
  display: block;
  margin-bottom: 12px;
  color: var(--dark);
}

.subtitle--ms {
  font-family: var(--montserrat);
}

.subtitle--lt {
  font-family: var(--lato);
}

.subtitle--co {
  font-family: var(--changa-one);
}

.subtitle--blue {
  color: var(--info);
}

.subtitle--green {
  color: var(--success);
}

.subtitle--red {
  color: var(--red);
}

.subtitle--darkGreen {
  color: var(--dark-green);
}

.subtitle--darkBlue {
  color: var(--dark-blue);
}

.subtitle--danger {
  color: var(--danger);
}

@media screen and (max-width: 768px) {
  .subtitle {
    font-size: 1.5em;
  }
}

/* ######################################## Text ######################################## */

.text {
  font-size: 1.2em;
  font-weight: 400;
  text-align: center;
  display: inline-block;
  color: var(--dark);
  text-align: justify;
}

.text--ms {
  font-family: var(--montserrat);
}

.text--lt {
  font-family: var(--lato);
}

.text--co {
  font-family: var(--changa-one);
}

.text--blue {
  color: var(--info);
}

.text--green {
  color: var(--success);
}

.text--red {
  color: var(--red);
}

.text--darkGreen {
  color: var(--dark-green);
}

.text--darkBlue {
  color: var(--dark-blue);
}

.text--danger {
  color: var(--danger);
}

.text--white {
  color: var(--white);
}

@media screen and (max-width: 768px) {
  .text {
    font-size: 0.9rem;
  }
}

/* ######################################## Fade-in animation ######################################## */

.fadeInLeft {
  -webkit-animation-name: fadeInLeft;
  animation-name: fadeInLeft;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@-webkit-keyframes fadeInLeft {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes fadeInLeft {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

.fadeInRight {
  -webkit-animation-name: fadeInRight;
  animation-name: fadeInRight;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@-webkit-keyframes fadeInRight {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
}

}
@keyframes fadeInRight {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

/* ######################################## Containers ######################################## */

.container {
  padding: 16px;
}
